
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}


.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}


.sidebar {
  width: 30%;
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #61dafb;
}

.sidebar input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.sidebar button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #0056b3;
}

.sidebar button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.sidebar p {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  color: #bbb;
}


.results {
  width: 70%;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.results ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
}

.results li {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #282c34;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.results h3 {
  margin: 0 0 10px 0;
  color: #61dafb;
}

.results p {
  margin: 5px 0;
  color: #bbb;
}

.results h4 {
  margin: 10px 0 5px 0;
  color: #fff;
}

.no-results {
  text-align: center;
  color: #777;
}
